Repository tgstation/event-toolbox-tournament-2022, pull requests merged in 2022-09, with the labels that each got.

#6 Neon portals arena map
  _maps/toolbox_arenas/neon.dmm
Labels: Toolbox arena

#7 starting point (Z1-1)
  _maps/map_files/Toolbox2022/Toolbox2022.dmm
  modular_event/trophy/trophy.dm
Labels: Map segment, Stale

#8 Z1-4
  _maps/map_files/Toolbox2022/Toolbox2022.dmm
Labels: Map segment

#12 Z1-3
  _maps/map_files/Toolbox2022/Toolbox2022.dmm
Labels: Map segment

#15 Upper Underrail Arena Map
  _maps/toolbox_arenas/upperrail.dmm
Labels: Toolbox arena

#16 museum arena map
  _maps/toolbox_arenas/museum.dmm
Labels: Toolbox arena
